# Basic Python

## 1. Split this string

In [2]:
s = "Hi there Sam!"

In [3]:
x = s.split()

print(x)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [6]:
print("The diameter of {} is {} kilometers".format("Earth",12742))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [15]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [17]:
np_array = np.zeros(10)
print(np_array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [18]:
np_array1 = np.ones(10)*5
print(np_array1)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [21]:
np_array2 = np.arange(20,35,2)
print(np_array2)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [24]:
np_array3 = np.arange(0,9).reshape(3,3)
print(np_array3)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [31]:
a = np.array([1,2,3])
b = np.array([4,5,6])
conc_arr = np.concatenate((a, b), axis=0)
print(conc_arr)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [32]:
import pandas as pd

In [38]:
df = pd.DataFrame({'A':[1,2,3], 'B':[4, 5, 6]})
print(df)

   A  B
0  1  4
1  2  5
2  3  6

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [42]:
per1 = pd.date_range(start ='1-1-2023', 
         end ='2-10-2023')
print(per1)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [44]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [45]:
df1 = pd.DataFrame(lists)
print(df1)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24